.faqsidebar {
    height: 100%;
    min-width: 30%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: lightyellow;
    z-index: 99999999999;
}

    .faqsidebar div {
        padding: 8px;
        font-size: 12px;
        display: block;
        color: black;
    }

#faqcheckbadge {
    position: absolute;
    z-index: 99999999999;
    top: 20%;
    right: 0;
}

#faqcheckbadgeheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

#imgelem {
    cursor: pointer;
}
