.faqsidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color: lightyellow;
    }
    
.faqsidebar div {
    padding: 8px;
    font-size: 12px;
    display: block;
    color: black;
}