.faqsidebar {
    height: 40%;
    max-width: 15%;
    position: absolute;
    right: 0px;
    top: 20%;
    background-color: lightyellow;
    z-index: 99999999999;
    overflow-y: scroll;
}

.faqsidebar div {
    padding: 8px;
    font-size: 12px;
    display: block;
    color: black;
}

#faqcheckbadge {
    position: absolute;
    z-index: 99999999999;
    top: 20%;
    right: 0;
}

#faqcheckbadgeheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

#imgelem {
    cursor: pointer;
}
